<div class="row" (click)="addNewItem(1)">
    <div class="col-3 pt-3 ">
        <div class="card" style="cursor: pointer;">
            <img src="../../../assets/image/profile-1.jpg" class="card-img-top rounded-0" alt="...">
            <div class="card-body p-2">
                <h5 class="card-title">Michael Myers</h5>
                <div style="line-height: 10px;">
                    <p class="card-text">Company : Oceano</p>
                    <p class="card-text">Position : IT Support</p>
                    <p class="card-text">Year Work : 3 Years</p>
                </div>
            </div>
        </div>
    </div>
</div>
