<div class="container d-flex justify-content-between">
  <div class="left-side">
    <h2>Human resource</h2>
    <ul>
      <li><a routerLink="/employee">ຂໍ້ມູນພະນັກງານ</a></li>
          <li><a routerLink="/employee/register">ລົງທະບຽນພະນັກງານ</a></li>
          <li><a routerLink="/employee/hr">ລົງທະບຽນພະນັກງານ HR</a></li>
    </ul>
  </div>
  <div class="right-side">
    <h1 class="text-center">Oceano</h1>
    <h3 class="text-center">Employee Management</h3>
    <div style="padding: 1rem;">
      <form [formGroup]="Registration" (ngSubmit)="submit_registration()">
        <div class="row">
          <div class="form-floating col mb-3 ">
            <input [ngClass]="{ 'is-invalid':  f.employee_code.invalid && f.employee_code.touched }" type="text"
              class="form-control" id="employee_code" placeholder="John" name="employee_code"
              formControlName="employee_code">
            <label for="employee_code">&nbsp; employee_code</label>
            <small class="p-error text-danger"
              *ngIf="  f.employee_name.hasError('required')&&f.employee_code.invalid && f.employee_code.touched">ຕ້ອງໃສ່ຊື່ກ່ອນ</small>
          </div>
        </div>
        <div class="row">
          <div class="form-floating col mb-3 ">
            <input [ngClass]="{ 'is-invalid':  f.employee_name.invalid && f.employee_name.touched }" type="text"
              class="form-control" id="employee_name" placeholder="John" name="employee_name"
              formControlName="employee_name">
            <label for="employee_name">&nbsp; ຊື່</label>
            <small class="p-error text-danger"
              *ngIf="  f.employee_name.hasError('required')&&f.employee_name.invalid && f.employee_name.touched">ຕ້ອງໃສ່ຊື່ກ່ອນ</small>
          </div>

          <div class="form-floating col mb-3">
            <input [ngClass]="{'is-invalid':  f.employee_surname.invalid && f.employee_surname.touched }" type="text"
              class="form-control" id="employee_surname" placeholder="Smith" formControlName="employee_surname">
            <label for="employee_surname">&nbsp; ນາມສະກຸນ</label>
            <small class="p-error text-danger"
              *ngIf=" f.employee_surname.hasError('required') &&f.employee_surname.invalid && f.employee_surname.touched">ຕ້ອງໃສ່ນາມສະກຸນກ່ອນ</small>
          </div>
        </div>
        <div class="row">
          <div class=" form-floating col mb-3">
            <input [ngClass]="{ 'is-invalid':  f.employee_email.invalid && f.employee_email.touched }" type="email"
              name="employee_email" id="employee_email" class="form-control" placeholder="name@example.com"
              formControlName="employee_email">
            <label for="employee_email">&nbsp; ອີເມວ</label>
            <small class="p-error text-danger"
              *ngIf=" f.employee_email.hasError('required') &&f.employee_email.invalid && f.employee_email.touched">ຕ້ອງໃສ່ອີເມວກ່ອນ
            </small>
            <small class="p-error text-danger"
              *ngIf=" f.employee_email.hasError('email') &&f.employee_email.invalid && f.employee_email.touched">ອີເມວນີ້ໃຊ່້ບໍ່ໄດ້</small>
          </div>
        </div>
        <div class="row">
          <div class="form-floating col mb-3">
            <input [ngClass]="{ 'is-invalid':  f.employee_password.invalid && f.employee_password.touched }"
              type="password" name="employee_password" id="employee_password" class="form-control" placeholder="***"
              formControlName="employee_password">
            <label for="employee_password">&nbsp; ລະຫັດ</label>
            <small class="p-error text-danger"
              *ngIf="  f.employee_password.hasError('required') &&f.employee_password.invalid && f.employee_password.touched">ຕ້ອງໃສ່ລະຫັດກ່ອນ</small>
            <small class="p-error text-danger"
              *ngIf="  f.employee_password.hasError('minlength') &&f.employee_password.invalid && f.employee_password.touched">ລະຫັດຕ້ອງ
              8 ຕົວຂື້ນໄປ</small>
          </div>
          <div class="form-floating col mb-3">
            <input [ngClass]="{ 'is-invalid':  f.confirm_password.invalid && f.confirm_password.touched }"
              type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="***"
              formControlName="confirm_password">
            <label for="confirm_password">&nbsp; ຢືນຢັນລະຫັດ</label>
            <small class="p-error text-danger"
              *ngIf="  f.confirm_password.hasError('required') &&f.confirm_password.invalid && f.confirm_password.touched">ຢືນຢັນກ່ອນ</small>
            <small class="p-error text-danger"
              *ngIf=" f.confirm_password.hasError('MustMatch') &&f.confirm_password.invalid && f.confirm_password.touched">ລະຫັດບໍ່ຕົງກັນ</small>
          </div>
        </div>
        <div class="row">
          <div class="form-floating col mb-3">
            <select class="form-select" [ngClass]="{ 'is-invalid':  f.company_id.invalid && f.company_id.touched }"
              ngModel formControlName="company_id">
              <option disable seleted hidden value="">ເລືອກບໍລິສັດ</option>
              <option *ngFor="let item of CompanyList" value="{{ item.company_id  }}">{{ item.company_name }}</option>
            </select>
            <label for="floatingSelect">&nbsp; ເລືອກບໍລິສັດ</label>
            <small class="p-error text-danger"
              *ngIf="  f.company_id.hasError('required') &&f.company_id.invalid && f.company_id.touched">ບໍລິສັດຈຳເປັນ</small>
          </div>
          <div class="form-floating col mb-3">
            <select class="form-select"
              [ngClass]="{ 'is-invalid':  f.department_id.invalid && f.department_id.touched }" ngModel
              formControlName="department_id">
              <option disable seleted hidden value="">ພະແນກ</option>
              <option *ngFor="let item of DepartmentList" value="{{ item.department_id   }}">{{ item.department_name
                }}</option>
            </select>
            <label for="floatingSelect">&nbsp; ເລືອກພະແນກ</label>
            <small class="p-error text-danger"
              *ngIf="  f.department_id.hasError('required') &&f.department_id.invalid && f.department_id.touched">ຕ້ອງເລືອກເພດກ່ອນ</small>
          </div>
        </div>
        <div class="row">
          <div class="form-floating col mb-3">
            <select class="form-select" [ngClass]="{ 'is-invalid':  f.major_id.invalid && f.major_id.touched }" ngModel
              formControlName="major_id">
              <option disable seleted hidden value="">ສາຂາ</option>
              <option *ngFor="let item of MajorList" value="{{ item.major_id   }}">{{ item.major_name
                }}</option>
            </select>
            <label for="floatingSelect">&nbsp; ເລືອກພະແນກ</label>
            <small class="p-error text-danger"
              *ngIf="  f.major_id.hasError('required') &&f.major_id.invalid && f.major_id.touched">ຕ້ອງເລືອກເພດກ່ອນ</small>
          </div>
          <div class="form-floating col mb-3">
            <select class="form-select" [ngClass]="{ 'is-invalid':  f.position_id.invalid && f.position_id.touched }"
              ngModel formControlName="position_id">
              <option disable seleted hidden value="">ຕຳແໜງ</option>
              <option *ngFor="let item of PositionList" value="{{ item.position_id   }}">{{ item.position_name }}
              </option>
            </select>
            <label for="floatingSelect">&nbsp; ເລືອກຕຳແໜງ</label>
            <small class="p-error text-danger"
              *ngIf="  f.position_id.hasError('required') &&f.position_id.invalid && f.position_id.touched">ຕ້ອງເລືອກເພດກ່ອນ</small>
          </div>
        </div>
        <div class="row">
          <div class="form-floating col mb-3">
            <select class="form-select"
              [ngClass]="{ 'is-invalid':  f.employee_gender.invalid && f.employee_gender.touched }"
              [(ngModel)]="genderList" formControlName="employee_gender">
              <option disable seleted hidden value="">ເລືອກເພດ</option>
              <option value="1">ຊາຍ</option>
              <option value="2">ຍິງ</option>
              <option value="3">ອື່ນໆ</option>
            </select>
            <label for="floatingSelect">&nbsp; ເພດ</label>
            <small class="p-error text-danger"
              *ngIf="  f.employee_gender.hasError('required') &&f.employee_gender.invalid && f.employee_gender.touched">ຕ້ອງເລືອກເພດກ່ອນ</small>
          </div>
          <div class="form-floating col mb-3">
            <input [ngClass]="{ 'is-invalid':  f.employee_dob.invalid && f.employee_dob.touched }" type="date"
              name="employee_dob" id="employee_dob" class="form-control" formControlName="employee_dob">
            <label for="employee_dob">&nbsp; ວັນເດືອນປີເກີດ</label>
            <small class="p-error text-danger"
              *ngIf="  f.employee_dob.hasError('required') &&f.employee_dob.invalid && f.employee_dob.touched">ຕ້ອງໃສ່ວັນເດືອນປີເກີດກ່ອນ</small>
          </div>
        </div>
        <div class="row">
          <div class="form-floating col mb-3">
            <select class="form-select" id="id_province"
              [ngClass]="{ 'is-invalid':  f.id_province.invalid && f.id_province.touched }" ngModel
              formControlName="id_province" (change)="onSelectprovince($event)">
              <option disable seleted hidden value="">ເລືອກແຂວງ</option>
              <option *ngFor="let item of provinceList" value="{{ item.id_province }}">{{ item.name_lao }}</option>
            </select>
            <label for="id_province">&nbsp; ແຂວງ</label>
            <small class="p-error text-danger"
              *ngIf="  f.id_province.hasError('required') &&f.id_province.invalid && f.id_province.touched">ຕ້ອງເລືອກແຂວງກ່ອນ</small>
          </div>
          <div class="form-floating col mb-3">
            <select class="form-select" id="id_district" 
              [ngClass]="{ 'is-invalid':  f.id_district.invalid && f.id_district.touched }" [(ngModel)]="province_data"
              formControlName="id_district" (change)="onSelectdistrict($event)">
              <option disable seleted hidden value="">ເລືອກເມືອງ</option>
              <option *ngFor="let item of district_data" value="{{ item.id_district }}">{{ item.name_lao }}</option>
            </select>
            <label for="id_district">&nbsp; ເມືອງ</label>
            <small class="p-error text-danger"
              *ngIf="  f.id_district.hasError('required') &&f.id_district.invalid && f.id_district.touched">ຕ້ອງເລືອກເມືອງກ່ອນ</small>
          </div>
        </div>
        <div class="row">
          <div class="form-floating col mb-3">
              <select class="form-select" id="id_village"
                  [ngClass]="{ 'is-invalid':  f.id_village.invalid && f.id_village.touched }"
                  ngModel formControlName="id_village">
                  <option disable seleted hidden value="">ເລືອກບ້ານ</option>
                  <option *ngFor="let item of village_data" value="{{ item.id_village }}">{{ item.name_lao }}</option>
  
              </select>
              <label for="id_village">&nbsp; ບ້ານ</label>
              <small class="p-error text-danger"
                  *ngIf="  f.id_village.hasError('required') &&f.id_village.invalid && f.id_village.touched">ຕ້ອງເລືອກບ້ານກ່ອນ</small>
          </div>
          <!-- <div class=" col mb-3">
            <label for="floatingSelect">&nbsp; ຮູບ</label>
            <input [ngClass]="{'is-invalid':  f.image.invalid && f.image.touched }" type="file"
              class="form-control form-control-sm" id="Image" placeholder="Smith" formControlName="image"
              (change)="onFIleSelect($event , 'image')">
            <small class="p-error text-danger"
              *ngIf=" f.image.hasError('required') &&f.image.invalid && f.image.touched">ຕ້ອງໃສ່ຮູບກ່ອນ</small>
          </div> -->
      </div>
      <div class="row">
        <!-- <div class="form-floating col mb-3">
          <input [ngClass]="{ 'is-invalid':  f.employee_workplace.invalid && f.employee_workplace.touched }"
            type="text" class="form-control" id="employee_workplace" placeholder="Your Company"
            name="employee_workplace" formControlName="employee_workplace">
          <label for="employee_workplace">&nbsp; ສະຖານທີ່ເຮັດວຽກ</label>
          <small class="p-error text-danger"
            *ngIf="  f.employee_workplace.hasError('required')&&f.employee_workplace.invalid && f.employee_workplace.touched">ຕ້ອງໃສ່ສະຖານທີ່ເຮັດວຽກກ່ອນ</small>
        </div> -->

        <div class="form-floating col mb-3">
            <input [ngClass]="{'is-invalid':  f.employee_phonenumber.invalid && f.employee_phonenumber.touched }"
                type="text" class="form-control" id="employee_phonenumber" placeholder="Phone Number 20540XXXXXX"
                formControlName="employee_phonenumber">
            <label for="employee_phonenumber">&nbsp; ເບີໂທ</label>
            <small class="p-error text-danger"
                *ngIf=" f.employee_phonenumber.hasError('required') &&f.employee_phonenumber.invalid && f.employee_phonenumber.touched">ຕ້ອງໃສ່ເບີໂທກ່ອນ</small>
            <small class="p-error text-danger"
                *ngIf=" f.employee_phonenumber.hasError('pattern') &&f.employee_phonenumber.invalid && f.employee_phonenumber.touched">ເບີບໍ່ຖືກຕ້ອງt</small>
        </div>
    </div>
    <div class="form-label">
        <small class="p-error text-danger" *ngIf="email_exist">ອີເມວນີ້ມີຜູ້ໃຊ້ແລ້ວ</small>
        <!-- <button type="submit" class="btn btn-primary form-control">ລົງທະບຽນ</button> -->
        <button type="submit" class="btn btn-primary form-control" [disabled]="Registration.invalid">ລົງທະບຽນ</button>
    </div>
      </form>
    </div>
  </div>
</div>