<div class="container d-flex justify-content-between">
    <div class="left-side">
        <h2>Human resource</h2>
        <ul>
          <li><a routerLink="/employee">ຂໍ້ມູນພະນັກງານ</a></li>
          <li><a routerLink="/employee/register">ລົງທະບຽນພະນັກງານ</a></li>
          <li><a routerLink="/employee/hr">ລົງທະບຽນພະນັກງານ HR</a></li>
        </ul>
    </div>
    <div class="right-side">
        <h1 class="text-center">Oceano</h1>
        <h3 class="text-center">Employee Management</h3>
        <div>
          <p>hr-register works!</p>           
        </div>
    </div>
  </div>